.form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 36px;
  max-width: 360px;
}
.delay-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  min-height: 72px;
  min-width: 360px;
}
.delay-input {
  min-width: 360px;
  min-height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.delay-input:hover,
.delay-input:focus {
  border-color: #000;
}

fieldset {
  min-width: 360px;
  min-height: 66px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
fieldset:hover,
fieldset:focus {
  stroke: #000;
}
fieldset label {
  margin-right: 48px;
}
button {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 360px;
  min-height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: #6c8cff;
}
